<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365680349333-t9a9kovg2e2rov4v03th0kr0fj2nljkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365680349333-t9a9kovg2e2rov4v03th0kr0fj2nljkd</string>
	<key>API_KEY</key>
	<string>AIzaSyDc9eLSaOhrggdc5bJ2QEB19ducarMaeRs</string>
	<key>GCM_SENDER_ID</key>
	<string>365680349333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.borismarkovich.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-4d98f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-4d98f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365680349333:ios:dd241c396525e9b46e0b9c</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-4d98f.firebaseio.com</string>
</dict>
</plist>